<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxun.server.platform.service.cms.dao.CmsArticleLogMapper">
  <resultMap id="BaseResultMap" type="com.sxun.server.platform.service.cms.model.CmsArticleLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="article_log_id" jdbcType="INTEGER" property="articleLogId" />
    <result column="opr_user_id" jdbcType="INTEGER" property="oprUserId" />
    <result column="opr_content" jdbcType="VARCHAR" property="oprContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
  </resultMap>
  <insert id="insertArticleLog" parameterType="com.sxun.server.platform.service.cms.model.CmsArticleLog">
    insert into cms_article_log(
    `article_log_id,
    opr_user_id,
    opr_content,
    create_time,
    article_id)values(
    NULL,
    #{opr_user_id},
    #{ opr_content},
    NOW(),
    #{article_id},
    );
  </insert>
</mapper>