<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxun.server.platform.service.cms.dao.CmsCoverMapper">
  <resultMap id="BaseResultMap" type="com.sxun.server.platform.service.cms.model.CmsCover">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="cover_id" jdbcType="INTEGER" property="coverId" />
    <result column="acticle_id" jdbcType="INTEGER" property="acticleId" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
  </resultMap>
  <insert id="insertCover" parameterType="com.sxun.server.platform.service.cms.model.CmsCover">
    insert into cms_cover(
    cover_id,
    acticle_id,
    file_id)values(
    NULL,
    #{ acticle_id},
    #{ file_id}
    );
  </insert>
  <delete id="deleteCover" parameterType="Integer">
    delete from cms_cover
    where acticle_id=#{acticle_id}
  </delete>
  <select id="getCounts" resultType="Integer">
    select count(*)
    from  cms_cover
    where article_id=#{article_id}
  </select>
  <select id="findCovers" resultMap="com.sxun.server.platform.service.cms.model.CmsCover">
    select *
    from  cms_cover
    where article_id=#{article_id}
  </select>

</mapper>