<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxun.server.platform.service.cms.dao.CmsDirMapper">
  <resultMap id="BaseResultMap" type="com.sxun.server.platform.service.cms.model.CmsDir">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="dir_id" jdbcType="INTEGER" property="dirId" />
    <result column="parent_dir_id" jdbcType="INTEGER" property="parentDirId" />
    <result column="cata_id" jdbcType="INTEGER" property="cataId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_display" jdbcType="BIT" property="isDisplay" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <insert id="insertDir" parameterType="com.sxun.server.platform.service.cms.model.CmsDir">
    insert into cms_dir(
    dir_id,
    parent_dir_id,
    cata_id,
    create_time,
    name,
    is_display,
    level,
    path)values(
    NULL,
    #{parentDirId},
    #{cataId},
    NOW(),
    #{name},
    1,
    NULL,
    NULL
    );
  </insert>

  <select id="findDirid" resultType="Integer" >
    select dir_id from cms_dir where name=#{0} and cata_id =#{1} and parent_dir_id=#{2}
  </select>
  <update id="updateDir" parameterType="com.sxun.server.platform.service.cms.model.CmsDir">
    update cms_dir
    set name=#{name},
    is_display=#{isDisplay}
    where dir_id=#{dirId}

  </update>
  <delete id="deleteDir" parameterType="Integer">
    delete from cms_dir
    where dir_id=#{dir_id}
  </delete>
  <select id="hasChilds" resultType="Integer">
    select count(*)
    from cms_dir
    where parent_dir_id=#{dir_id}
  </select>
  <select id="findDirs" resultMap="BaseResultMap" parameterType="com.sxun.server.platform.service.cms.model.CmsDir">
    select *
    from cms_dir
    <where>
      <if test="dirId != null ">
        dir_id=#{dirId}
      </if>
      <if test="cataId != null ">
        and cata_id =#{cataId}
      </if>
      <if test="parentDirId != null ">
        and parent_dir_id=#{parentDirId}
      </if>
      <if test="name!= null ">
        and name =#{name}
      </if>
      <if test="isDisplay!= null">
        and is_display =#{isDisplay}
      </if>
    </where>
  </select>
  <update id="updatePath" parameterType="com.sxun.server.platform.service.cms.model.CmsDir">
    update cms_dir
    set path=#{path},
    level=#{level}
    where dir_id=#{dirId}

  </update>
  <select id="findDir" resultMap="BaseResultMap" >
  select *
  from cms_dir
    where parent_dir_id=#{dir_id}
  </select>
  <update id="updateCataId" parameterType="com.sxun.server.platform.service.cms.model.CmsDir">
    update cms_dir
    set path=#{path},
    level=#{level},
    cata_id=#{cataId},
    parent_dir_id=#{parentDirId}
    where dir_id=#{dirId}

  </update>
  <select id="findChilds" resultMap="BaseResultMap" >
    select *
    from cms_dir
    where parent_dir_id=#{dir_id}
  </select>

</mapper>