<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxun.server.platform.service.cms.dao.CmsFileMapper">
  <resultMap id="BaseResultMap" type="com.sxun.server.platform.service.cms.model.CmsFile">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_ext" jdbcType="VARCHAR" property="fileExt" />
  </resultMap>
  <insert id="insertFile" parameterType="com.sxun.server.platform.service.cms.model.CmsFile">
    insert into cms_file(
    file_id,
    file_path,
    create_time,
    file_name,
    file_ext)values(
    NULL,
    #{filePath},
    NOW(),
    #{fileName},
    #{fileExt},
    );
  </insert>
  <select id="findFirleId" resultType="Integer" parameterType="com.sxun.server.platform.service.cms.model.CmsFile" >
    select file_id from cms_file where  file_path=#{file_path} and file_name=#{fileName} and file_ext=#{fileExt}
  </select>
  <delete id="deleteFirle" parameterType="Integer">
    delete from cms_file
    where file_id=#{0}
  </delete>
  <select id="findByFileId" resultMap="BaseResultMap" >
    select * from cms_file where file_id=#{file_id}
  </select>
</mapper>