<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxun.server.platform.service.ucenter.dao.UcenterSessionMapper">
  <resultMap id="BaseResultMap" type="com.sxun.server.platform.service.ucenter.model.UcenterSession">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="session_token" jdbcType="VARCHAR" property="sessionToken" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="exp_time" jdbcType="TIMESTAMP" property="expTime" />
    <result column="sys_id" jdbcType="INTEGER" property="sysId" />
    <result column="client" jdbcType="VARCHAR" property="client" />
    <result column="create_type" jdbcType="VARCHAR" property="createType" />
    <result column="sec_key" jdbcType="VARCHAR" property="secKey" />
    <result column="ref_token" jdbcType="VARCHAR" property="refToken" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
  </resultMap>
</mapper>